---
- name: Create content & directory
  ansible.builtin.file:
    state: directory
    path: /root/.kube

- name: Write kubeadmin file to localhost
  ansible.builtin.copy:
    src: "/etc/kubernetes/admin.conf"
    dest: "/root/.kube/config"
    remote_src: true


- name: Copy kubeadmin file data
  ansible.builtin.slurp:
    src: /etc/kubernetes/admin.conf
  register: kubeadmin


- name: Write kubeadmin file to localhost
  ansible.builtin.copy:
    content: "{{ kubeadmin.content | b64decode }}"
    dest: "/home/ec2-user/.kube/deployment{{ deployment_number }}-kub.conf"
  delegate_to: localhost


- name: Recursively change ownership of a file
  ansible.builtin.file:
    path: "/home/ec2-user/.kube/deployment{{ deployment_number }}-kub.conf"
    state: file
    owner: ec2-user
    ansible.builtin.group: ec2-user
  delegate_to: localhost

- name: Get the current caller identity information
  ansible.builtin.shell: aws sts get-caller-identity --query Account --output text
  register: caller_info
  delegate_to: localhost

- name: Upload kube file to s3
  ansible.builtin.shell: aws s3 cp /home/ec2-user/.kube/deployment{{ deployment_number }}-kub.conf s3://sample-{{ caller_info.stdout }}-kub/deployment{{ deployment_number }}/kube/config
  delegate_to: localhost
