---
- name: Ensure dnf core is installed
  register: my_output
  changed_when: my_output.rc != 0
  ansible.builtin.command: dnf -y install dnf-plugins-core

- name: Add Docker repo
  register: my_output
  changed_when: my_output.rc != 0
  ansible.builtin.command: dnf config-manager --add-repo https://download.docker.com/linux/rhel/docker-ce.repo

- name: Install docker packages
  register: my_output
  changed_when: my_output.rc != 0
  ansible.builtin.command: dnf install -y {{ item }}
  loop:
    - docker-ce
    - docker-ce-cli
    - containerd.io
    - docker-buildx-plugin
    - docker-compose-plugin

- name: Ensure Docker is started
  ansible.builtin.systemd:
    name: docker
    daemon_reload: true
    enabled: true
    state: started

- name: Ensure group "docker" exists
  ansible.builtin.group:
    name: docker
    state: present

- name: Ensure user is in Docker group
  ansible.builtin.user:
    name: "{{ ansible_user }}"
    groups: docker
    append: true

- name: Make new group membership active without starting a new session
  register: my_output
  changed_when: my_output.rc != 0
  ansible.builtin.command: newgrp docker
