---

- name: Install kubernetes dependent packages
  ansible.builtin.command: dnf install {{ item }} -y
  loop:
    - python3.12-pip
    - firewalld
    - "java-{{ java_version }}-openjdk"

- name: Install kubernetes pip package
  ansible.builtin.pip:
    name: kubernetes
