---

- name: Install kubernetes dependent packages
  command: dnf install {{ item }} -y
  loop:
    - python3.12-pip
    - firewalld
    - "java-{{java_version}}-openjdk"

- name: Install kubernetes pip package
  pip:
    name: kubernetes
