---
- name: Check if FIPS is enabled
  ansible.builtin.shell: fips-mode-setup --check | tail -1
  register: fips_result

- name: Enable FIPS
  ansible.builtin.command: fips-mode-setup --enable
  when: fips_result.stdout == "FIPS mode is disabled."

- name: Reboot after enabling FIPS
  ansible.builtin.reboot:
  when: fips_result.stdout == "FIPS mode is disabled."