---
# tasks file for kubernetes-preinstall-configs
- name: Get processor type
  changed_when: processor.rc != 0
  ansible.builtin.shell: |
    set -o pipefail
    lscpu | grep Architecture | awk -F":" '{print $2}' | xargs
  register: processor

- name: Set processor_type variable to AMD
  ansible.builtin.set_fact:
    processor_type: amd64
  when: processor.stdout == "x86_64"

- name: Set processor_type variable to ARM
  ansible.builtin.set_fact:
    processor_type: arm64
  when: processor.stdout == "aarch64"

- name: Get OS
  changed_when: os_id.rc != 0
  ansible.builtin.shell: |
    . /etc/os-release
    echo "$ID"
  register: os_id

- name: Sysctl ipv4_forward kubernetes updates
  ansible.posix.sysctl:
    name: net.ipv4.ip_forward
    value: "1"
    sysctl_set: true
    state: present
    reload: true
